.table{
    border-collapse: collapse;
}
.column{
    width: 200px;
    text-align: center;
    border-bottom: 1.5px solid gray;
    background-color: darkgray;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    font-style: italic;
}
.title{
    text-align: center;
    padding: 0px 0px 50px 0;
    font-style: italic;
}
.button{
    padding: 5px 12px;
    border-radius: 5%;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid black;
}