*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #f0f0f0;
  /* background: #ffffff60;
  background-image: url(https://www.wallpaperflare.com/static/136/180/841/minimalism-post-it-notes-yellow-green-wallpaper.jpg);
  background-blend-mode: soft-light; */
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.link{
  margin-top: 20px;
  padding: 5px 12px;
  border-radius: 10%;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid black;
  background-color: #f0f0f0;
}
.contents{
  /* border: 1px solid red; */
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notes{
  flex-grow: 2;
}
.title{
  padding: 30px 0;
  font-size: 60px;
  font-style: italic;
  width: 100%;
  height: 100px;
  text-align: center;
}
